.articles-container {
  color: white;
  background-color: #1c2025;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 239px;
}
.articles {
  display: flex;
  gap: 30px;
}
.more {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #019eb5;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 3.22px;
}
.more p {
  margin: 30px 0;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .articles-container {
    padding: 30px 120px;
  }
  .articles {
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .articles-container h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 660px) {
  .articles-container {
    margin: 0 auto;
    padding: 30px;
    max-width: 390px;
  }
  .articles-container h2 {
    font-size: 20px;
    letter-spacing: 7.2px;
  }
  .more {
    font-size: 12px;
    letter-spacing: 1.5px;
  }
}
