.hero {
  display: flex;
  justify-content: center;
  /* height: 100%; */
  overflow: hidden;
}
img {
  width: 100%;
}
.img {
  height: auto;
  position: relative;
}
.img1440 {
  max-width: 1440px;
}

.img390 {
  display: none;
}
.quote {
  position: absolute;
  top: 245px;
  left: 200px;
  width: 542px;
  height: 159px;
  color: #fff;
  font-size: 20px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 7.2px;
}

.quote p span {
  color: #019eb5;
  margin-left: 330px;
}

@media screen and (max-width: 1300px) {
  .quote {
    position: absolute;
    top: 225px;
    left: 140px;
    font-size: 18px;
    width: 420px;
    letter-spacing: 5.4px;
  }
  .quote p span {
    color: #019eb5;
    margin-left: 230px;
  }
}
/* @media screen and (max-width: 900px) {
  .quote {
    font-size: 13px;
    width: 400px;
    letter-spacing: 5.4px;
  }
  .quote p span {
    margin-left: 240px;
  }
} */

@media screen and (max-width: 900px) {
  .img390 {
    max-width: 390px;
    display: block;
  }
  .img1440 {
    display: none;
  }
}
