.hero {
  display: flex;
  justify-content: center;
  background-color: #09090b;
  height: 100vh;
}

.img {
  position: relative;
}

.img::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* .img1440 {
  background-image: url(../../img/RamuneHeroD1440x990.png);

  max-width: 1440px;
}

.img834 {
  display: none;
}
.img390 {
  display: none;
} */
.quote {
  position: absolute;
  top: 245px;
  left: 200px;
  width: 542px;
  height: 159px;
  color: #fff;
  font-size: 20px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 7.2px;
}

.quote p span {
  color: #019eb5;
  margin-left: 330px;
}

@media screen and (min-width: 1300px) {
  .img::after {
    background-image: url(../../img/RamuneHeroD1440x990.png);
  }
}

@media (max-width: 1300px) and (min-width: 721px) {
  .img::after {
    background-image: url(../../img/RamuneHeroD834x708.png);
  }
}

@media screen and (max-width: 720px) {
  .img::after {
    background-image: url(../../img/RamuneHeroMob390x325.png);
  }

  .quote {
    position: relative;
    bottom: 250px;
  }
}
