.articles-list-container {
  margin: 0 auto;
  color: white;
  background-color: #09090b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 120px;
  max-width: 1440px;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.pagination {
  padding: 20px 0;
}
.pagination span {
  margin: 0 10px;
}
.pagination button {
  cursor: pointer;
  background-color: #09090b;
  color: white;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 1200px) {
  .articles-list-container {
    padding: 30px 120px;
  }
  .articles {
    margin-top: 20px;
  }
  .articles-list-container h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 660px) {
  .articles-list-container {
    margin: 0 auto;
    padding: 30px;
    max-width: 390px;
  }
  .articles-list-container h2 {
    font-size: 20px;
    letter-spacing: 7.2px;
  }
}
